.form {
    margin-bottom: 20px;
}
.label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: black;
}
.input {
    width: 60%;
    padding: 3px;
    border: 2px solid gray;
}